src/Worlds/*
!src/Worlds/Tutorial/
!src/Worlds/Tutorials/
!src/Worlds/German-Safety-Tutorials/

src/Resources/*
!src/Resources/Tutorials
!src/Resources/Basic

src/Trains/*
!src/Trains/JFR1/

src/.import/
*.csv.import
*.translation

src/android/*

*.blend1

# ignore Dolphin file manager files
*.directory

# ignore jetbrains IDE files
.idea/
src/.idea/
