src/Worlds/*
!src/Worlds/Tutorials/
!src/Worlds/Signal-Tutorial/
!src/Worlds/German-Safety-Tutorials/

src/Trains/*
!src/Trains/JFR1/

src/.import/
*.csv.import
*.translation

src/Mods/

src/android/*

*.blend1

# ignore Dolphin file manager files
*.directory

# ignore jetbrains IDE files
.idea/
src/.idea/

# Ignore vendor specific asset files

*.afdesign